
---
name: jitsi outlook workflow

on:
  push:
    branches:
      - main
      - feature/*
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  license:
    uses: ./.github/workflows/license.yml
  test:
    needs: [license]
    uses: ./.github/workflows/tests.yml
